/*****************************************
  VARIABLES
*****************************************/
$white: #FFFFFF;
$light-grey: #F1F3F5;
$black: #1D1C1E;
$dark-grey: #333136;
$peach: #E7816B;
$light-peach: #FFAD9B;
$gradient-location: #5D0202;

/*****************************************
  RESET AND SCROLLBAR
*****************************************/
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*****************************************
  BASE STYLES
*****************************************/
.body {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.5625rem;

  @media(min-width: 768px) {
    font-size: 1rem;
    line-height: 1.625rem;
  }
}

.root {
  overflow-x: hidden;
}

.container {
  width: min(100% - 3rem, 689px);
  margin-inline: auto;

  @media(min-width: 768px) {
    &--secondary {
      width: 689px;
      margin-inline: auto;
    }
  }

  @media(min-width: 1440px) {
    &,
    &--secondary {
      width: 1100px;
    }
  }
}

.btn,
.link {
  color: inherit;
  transition: all 400ms;
}

.btn {
  display: inline-block;
  border: initial;
  background-color: initial;
  font-family: inherit;
  font-weight: 500;
}

.link {
  text-decoration: none;
}

.invisible {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
}

.active {
  text-decoration: underline;
}

.bold {
  font-weight: 500;
}

.hidden {
  display: none;
}

/*****************************************
  NAV
*****************************************/
.header {
  height: 6rem;
  width: 100%;
  background-color: $white;
  position: fixed;
  z-index: 3;
  top: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  .logo {
    height: 1.6875rem;
    width: min(100%, 202px);

    &__icon {
      width: 100%;
    }
  }

  &__menu {
    list-style: none;
    width: 100%;
    background-color: $black;
    color: $white;
    padding: 3rem 1.5rem;
    position: absolute;
    left: 0;
    top: 6rem;
    z-index: 2;
  } 

  &__item:nth-of-type(2) {
    margin: 2rem 0;
  }

  &__link {
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: inherit;
    letter-spacing: 2px;
  }

  &__shadow {
    height: calc(100vh - 6rem);
    width: 100vw;
    background-color: rgba(#000, 50%);
    position: absolute;
    top: 6rem;
    left: 0;
    z-index: 1;
  }
}

@media(min-width: 768px) {
  .header {
    height: 9.6875rem;
    position: unset;
  }
  
  .nav {
    &__menu {
      display: flex;
      background-color: $white;
      color: $dark-grey;
      padding: 0;
      position: unset;
      width: max-content;
    } 
  
    &__item:nth-of-type(2) {
      margin: 0 2.625rem;
    }
  
    &__link {
      font-size: 0.875rem;
      line-height: 0.875rem;
    }
  
    &__shadow {
      display: none;
    }
  }
}

.hamburger {
  background-color: $black;
  width: 20px;
  height: 2px;
  border-radius: 1rem;
  transition: all 400ms;
  position: absolute;
  left: 0;

  &--top {
    top: 3px;
  }

  &--bottom {
    bottom: 3px;
  }
}

// Toggled on click for .hamburger--top
.flip-top {
  top: 7px;
  transform: rotate(-225deg);
}

// Toggled on click for .hamburger--bottom
.flip-bottom {
  bottom: 7px;
  transform: rotate(-315deg);
}

/*****************************************
    MAIN
*****************************************/
.main {
  position: relative;

  &--home {
    padding-bottom: 19.4375rem;
  }

  &--about {
    padding-bottom: 19.375rem;
  }

  &--design {
    padding-bottom: 17.875rem;
  }

  &--locations {
    margin-top: 6rem;
    padding-bottom: 19.375rem;
  }

  @media(min-width: 768px) {
    &--home {
      padding-bottom: 20.6875rem;
    }

    &--design,
    &--about,
    &--locations {
      padding-bottom: 24rem;
    }

    &--locations {
      margin-top: 0;
    }
  }

  @media(min-width: 1440px) {
    width: 1440px;
    margin-inline: auto;
    background-repeat: no-repeat;

    &--home,
    &--design,
    &--about,
    &--locations {
      padding-bottom: 23.75rem;
    }

    &--home {
      background-image: 
        url(./assets/shared/desktop/bg-pattern-leaf.svg),
        url(./assets/shared/desktop/bg-pattern-leaf-flipped.svg);
      background-position: 
        left 0 top 320px, 
        bottom 74px right 0;
    }

    &--about {
      background-image: url(./assets/shared/desktop/bg-pattern-leaf.svg);
      background-position: left 0 top 320px;

      /* Inserted svg with pseudo element rather than backgroud image to be relative to container--main,
      while extending to end of page. Root element for page has overflow-x: hidden to secure the design. */
      &::after {
        content: url(./assets/shared/desktop/bg-pattern-leaf.svg);
        display: block;
        position: absolute;
        z-index: -1;
        bottom: 768px;
        left: 830px;
      }
    }

    &--design {
      background-image: url(./assets/shared/desktop/bg-pattern-leaf.svg);
      background-position: left 0 top 126px;
    }

    &--contact {
      background-image: url(./assets/shared/desktop/bg-pattern-leaf.svg);
      background-position: right 0 bottom -160px;
    }
  }
}

// Section hero
.hero {
  display: flex;
  flex-direction: column;
  background-color: $peach;
  color: $white;
  text-align: center;
  margin-top: 6rem;
  background-repeat: no-repeat;
  
  &--home {
    background-image: url(./assets/home/desktop/bg-pattern-hero-home.svg);
    background-position: left 0 top 102px;
    height: 843px;
    position: relative;
    overflow: hidden;
  }

  &--design {
    background-image: url(./assets/web-design/desktop/bg-pattern-intro-web.svg);
    background-position: 100% 0%;
    margin-bottom: 0;
  }

  &--about {
    background-image: url(./assets/about/mobile/bg-pattern-hero-about-mobile.svg);
    background-position: right 185px;
  }

  &--contact {
    background-image: url(./assets/contact/mobile/bg-pattern-hero-contact-mobile.svg);
    background-position: 18% 0%;
  }

  &__wrapper {
    width: min(100% - 3rem, 327px);
    margin-inline: auto;
    
    &--home {
      margin-top: 5rem;
    }

    &--design {
      padding: 6.5625rem 0;
    }

    &--about {
      order: 2;
      padding: 5rem 0;
    }

    &--contact {
      padding: 4.5rem 0;
      width: min(100% - 3rem, 573px);
    }
  }

  &__heading {
    font-size: 2rem;
    line-height: 2.25rem;

    &--home {
      margin-bottom: 0.875rem;
    }
    
    &--design,
    &--about,
    &--contact {
      margin-bottom: 1.5rem;
    }
  }

  &__text {
    font-size: 0.9375rem;
    line-height: 1.5625rem;

    &--home {
      margin-bottom: 1.5rem;
    }
  }

  @media(min-width: 768px) {
    margin-top: 0;
    border-radius: 0.9375rem;

    &--home {
      background-position: left 170.55px top 101.5px;
    }
  
    &--design {
      background-position: -20px 50%;
    }
  
    &--about {
      background-image: url(./assets/about/desktop/bg-pattern-hero-about-desktop.svg);
      background-position: -122.5px -101.33px;
      margin-bottom: 7.5rem;
    }
  
    &--contact {
      text-align: left;
      background-image: url(./assets/contact/desktop/bg-pattern-hero-desktop.svg);
      background-position: -121.55px -83px;
    }
  
    &__wrapper {
      width: 100%;
      
      &--home {
        margin-top: 3.75rem;
      }

      &--design {
        padding: 4rem 0;
      }
  
      &--about {
        padding: 4rem 0;
      }
  
      &--contact {
        padding: 4.4375rem 0;
        width: min(100% - 3rem, 573px);
      }
    }
  
    &__heading {
      font-size: 3rem;
      line-height: 3rem;
  
      &--home {
        max-width: 573px;
        margin-inline: auto;
        margin-bottom: 1.125rem;
      }
      
      &--about,
      &--contact {
        margin-bottom: 2rem;
      }
    }
  
    &__text {
      font-size: inherit;
      line-height: inherit;
      margin-inline: auto;
  
      &--home {
        max-width: 445px;
        margin-bottom: 1.1875rem;
      }

      &--about {
        max-width: 573px;
      }

      &--design {
        max-width: 400px;
      }
    }
  }

  @media(min-width: 1440px) {

    &--home {
      height: 640px;
      background-position: right 0 top 0;
    }
  
    &--design {
      background-position: -20px 50%;
    }
  
    &--about {
      display: grid;
      grid-template-columns: 624px 1fr;
      grid-template-rows: 480px;
      background-position: bottom 0 right 476px;
      margin-bottom: 10rem;
    }
  
    &--contact {
      text-align: left;
      background-position: -121.55px -83px;
    }
  
    &__wrapper {
      width: 100%;
      
      &--home {
        text-align: left;
        margin-top: 9.0625rem;
        margin-left: 5.9375rem;
      }

      &--design {
        padding: 4rem 0;
      }
  
      &--about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        order: unset;
        padding: 0 0 0 5.9375rem;
      }
  
      &--contact {
        padding: 4.4375rem 0;
        width: min(100% - 3rem, 573px);
      }
    }
  
    &__heading {
  
      &--home {
        margin-inline: unset;
      }
      
      &--about,
      &--contact {
        margin-bottom: 2rem;
      }
    }
  
    &__text {
  
      &--home {
        margin-inline: unset;
        margin-bottom: 2.5rem;
      }

      &--about {
        margin-inline: unset;
        max-width: 458px;
      }

      &--design {
        max-width: 400px;
      }
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 3rem;

  &__wrapper,
  &__wrapper--secondary {
    position: relative;
  }

  &__wrapper {
    margin-bottom: 1.5625rem;

    &--secondary {
      margin-bottom: 2.5rem;
    }
  }

  &__input,
  &__message {
    width: 100%;
    font-size: 0.9375rem;
    font-family: inherit;
    line-height: 1.625rem;
    color: $white;
    background-color: initial;
    border: initial;
    border-bottom: 1px solid $white;
    padding-inline: 0.875rem;
    
    &::placeholder {
      color: rgba($white, 50%);
    }
  }

  &__input {
    padding-bottom: 0.6875rem;
  }

  &__message {
    resize: none;
    height: 102px;
  }

  &__error,
  &__error--secondary{
    display: flex;
    align-items: center;
  }

  &__error {
    position: absolute;
    top: 0;
    right: 0.5rem;

    &--secondary {
      justify-content: center;
    }
  }
  
  &__icon {
    margin-left: 0.5625rem;
  }

  @media(min-width: 768px) {
    margin-top: 2.5rem;

    &__wrapper--secondary {
      margin-bottom: 1.5rem;
    }
  }
}

// Section design
.design {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1.5rem;
  
  &--home {
    padding: 7.5rem 0;
    position: relative;
  }

  &__card {
    height: 250px;
    text-align: center;
    text-transform: uppercase;
    color: $white;
    border-radius: 0.9375rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(#000, 50%);
    background-blend-mode: multiply;

    &:hover,
    &:focus {
      cursor: pointer;
      background-color: $peach;
    }

    &--app {
      background-image: url(./assets/home/mobile/image-app-design.jpg);
    }

    &--web {
      background-image: url(./assets/home/mobile/image-web-design.jpg);
    }

    &--graphic {
      background-image: url(./assets/home/mobile/image-graphic-design.jpg);
    }
  }

  &__heading {
    font-size: 1.75rem;
    line-height: 2.25rem;
    letter-spacing: 1.4px;
    margin-top: 5.635rem;
    margin-bottom: 0.75rem;
  }

  &__link {
    font-size: 0.9375rem;
    line-height: 21.68px;
    letter-spacing: 5px;
  }

  &__icon {
    margin-left: 1rem;
  }
  
  @media(min-width: 768px) {
    &__card {
      height: 200px;

      &--app {
        background-image: url(./assets/home/tablet/image-app-design.jpg);
      }

      &--web {
        background-image: url(./assets/home/tablet/image-web-design.jpg);
      }

      &--graphic {
        background-image: url(./assets/home/tablet/image-graphic-design.jpg);
      }
    }

    &__heading {
      font-size: 2.5rem;
      line-height: 3rem;
      letter-spacing: 2px;
      margin-top: 3.3125rem;
      margin-bottom: 1.5rem;
    }

    &__icon {
      margin-left: 1.3125rem;
    }
  }

  @media(min-width: 1440px) {
   
    &--home {
      padding: 10rem 0;
      grid-template-columns: repeat(2, auto);
      grid-template-rows: repeat(2, auto);
      row-gap: 1.5rem;
      column-gap: 1.875rem;
    }

    &__card {
      height: 308px;

      &--large {
        height: 640px;
        grid-row: 1/-1;

        .design__heading {
          margin-top: 17.0625rem;
        }
      }

      &--app {
        background-image: url(./assets/home/desktop/image-app-design.jpg);
      }

      &--web {
        background-image: url(./assets/home/desktop/image-web-design-small.jpg);
      }

      &--large {
        background-image: url(./assets/home/desktop/image-web-design-large.jpg);
      }

      &--graphic {
        background-image: url(./assets/home/desktop/image-graphic-design.jpg);
      }
    }

    &__heading {
      margin-top: 6.6875rem;
    }
  }
}

// Section qualities
.qualities {

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;

    &:nth-of-type(2) {
      margin-block: 5rem
    }
  }

  &__context {
    color: $dark-grey;
    max-width: 350px;
    margin-inline: auto;

    &::before {
      content: '';
      display: block;
      height: 202px;
      width: 202px;
      border-radius: 100vw;
      opacity: 20.27%;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      margin-inline: auto;
    }

    &--passionate {
      &::before {
        background-image: 
          linear-gradient(
            to left, rgba($gradient-location, 0.01%), rgba($gradient-location, 49.76%)
          );
      }
    }

    &--resourceful {

      &::before {
        background-image: 
          linear-gradient(
            to bottom, rgba($gradient-location, 0.01%), rgba($gradient-location, 49.76%)
          );
      }
    }

    &--friendly {
      &::before {
        background-image: 
          linear-gradient(
            to top, rgba($gradient-location, 0.01%), rgba($gradient-location, 49.76%)
          );
      }
    }
  }

  &__heading {
    font-size: 1.25rem;
    line-height: 1.625rem;
    letter-spacing: 5px;
    margin-bottom: 2rem;
    text-transform: uppercase;
  }

  &__text {
    font-size: 1rem;
    line-height: 1.625rem;
  }

  &__icon {
    order: -1;
    margin-bottom: 3rem;
    position: relative;
    z-index: 2;
  }

  @media(min-width: 768px) {

    &__wrapper {
      flex-direction: row;
      justify-content: space-between;
      text-align: left;

      &:nth-of-type(2) {
        margin-block: 2rem
      }
    }

    &__context {
      padding-left: 3rem;
      max-width: unset;
      margin-inline: unset;

      &::before {
        bottom: 0;
        right: unset;
        margin-inline: unset;
        margin-block: auto;
      }
    }

    &__heading {
      margin-bottom: 1rem;
    }

    &__icon {
      margin-bottom: 0;
    }
  }

  @media(min-width: 1440px) {
    display: flex;
    justify-content: space-between;

    &__wrapper {
      width: 350px;
      flex-direction: column;
      text-align: center;

      &:nth-of-type(2) {
        margin-block: unset;
      }
    }

    &__context {
      padding-left: 0;
      max-width: unset;
      margin-inline: unset;

      &::before {
        top: 0;
        bottom: unset;
        right: 0;
        margin-inline: auto;
        margin-block: unset;
      }
    }

    &__heading {
      margin-bottom: 2rem;
    }

    &__icon {
      margin-bottom: 3rem;
    }
  }
}

// Section your-project
.your-project {
  color: $white;
  background-color: $peach;
  background-image: url(./assets/app-design/desktop/bg-pattern-intro-app.svg);
  background-repeat: no-repeat;
  background-position: 45% 50%;
  border-radius: 0.9375rem;
  text-align: center;
  padding: 4rem 1.5rem;
  position: absolute;
  bottom: -190px;
  left: 0;
  right: 0;
  margin-inline: auto;
  
  &__heading {
    max-width: 275px;
    font-size: 2rem;
    line-height: 2.25rem;
    margin-bottom: 0.375rem;
    margin-inline: auto;
  }

  &__text {
    margin-bottom: 2rem;
    max-width: 280px;
    margin-inline: auto;
  }

  @media(min-width: 768px) {
    background-position: -20px 50%;
    padding: 3.5625rem 0;
    bottom: -86px;
    
    &__heading {
      max-width: 335px;
      font-size: 2.5rem;
      line-height: 2.5rem;
      margin-bottom: 1rem;
    }

    &__text {
      max-width: 450px;
    }
  }

  @media(min-width: 1440px) {
    height: 292px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-position: 100% 50%;
    padding: 0 6rem;

    &__context {
      text-align: left;
    }
    
    &__heading,
    &__text {
      margin-inline: unset;
    }
  }
}

// Section projects
.projects {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2.5rem;
  margin-block: 6rem;

  &__card {
    display: flex;
    flex-direction: column;
    height: 478px;
    max-width: 327px;
    text-align: center;
    margin-inline: auto;
    
    &:hover,
    &:focus {
      cursor: pointer;

      .projects__context {
        background-color: $peach;
      }

      .projects__heading,
      .projects__text {
        color: $white;
      }
    }
  }

  &__context {
    display: flex;
    flex-direction: column;
    justify-content: center;
    order: 2;
    background-color: #FDF3F0;
    padding: 2rem 1.5rem;
    border-bottom-left-radius: 0.9375rem;
    border-bottom-right-radius: 0.9375rem;
    transition: all 400ms;
  }

  &__heading {
    text-transform: uppercase;
    color: $peach;
    font-size: 1.25rem;
    line-height: 1.625rem;
    letter-spacing: 5px;
    margin-bottom: 1rem;
    transition: all 400ms;
  }

  &__text {
    color: $dark-grey;
    font-size: 1rem;
    line-height: 1.625rem;
    max-width: 28ch;
    margin-inline: auto;
    transition: all 400ms;
  }

  @media(min-width: 768px) {
    row-gap: 2rem;
    margin-block: 7.5rem;

    &__card {
      flex-direction: row;
      height: 310px;
      max-width: 100%;
    }

    &__context {
      padding: 0 2rem;
      border-bottom-left-radius: unset;
      border-top-right-radius: 0.9375rem;
    }
  }
}

// Section about
.about {
  &,
  &--secondary {
    display: flex;
    flex-direction: column;
    background-color: #FDF3F0;
    background-image: url(./assets/shared/desktop/bg-pattern-three-circles.svg);
    background-position: left 0 top 320px;
    background-repeat: no-repeat;
    text-align: center;
  }
  
  &__context,
  &__context--secondary {
    width: min(100% - 3rem, 327px);
    margin-inline: auto;
  }

  &__context {
    padding: 5rem 0;
  }

  &__context--secondary {
    padding: 5rem 0 6.5625rem;
  }

  &__heading {
    color: $peach;
    font-size: 2rem;
    line-height: 2.25rem;
    margin-bottom: 1.5rem;
  }

  &__text {
    color: $dark-grey;

    &:nth-of-type(1) {
      margin-bottom: 1.5rem;
    }
  }

  @media(min-width: 768px) {
    &,
    &--secondary {
      background-position: bottom 44px right 0;
      border-radius: 0.9375rem;
    }
    
    &__context,
    &__context--secondary {
      width: 572px;
    }

    &__context {
      padding: 4.25rem 0;
    }

    &__context--secondary {
      padding: 4.25rem 0 5.875rem;
    }

    &__heading {
      font-size: 2.5rem;
      line-height: 3rem;
    }
  }

  @media(min-width: 1440px) {
    &,
    &--secondary {
      flex-direction: row;
      align-items: center;
    }

    & {
      background-position: bottom 0 right 197px ;
    }
    
    &--secondary {
      background-position: bottom 0 left 0;
    }
    
    &__context,
    &__context--secondary {
      text-align: left;
      width: 635px;
    }

    &__context {
      padding: 0 0 0 5.875rem;
    }

    &__context--secondary {
      order: -1;
      padding: 0 5.875rem 0;
    }

    &__text {
      max-width: 445px;
    }
  }
}

// Section location
.location {
  padding: 7.5rem 0;
  text-align: center;

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    &::before {
      content: '';
      display: block;
      height: 202px;
      width: 202px;
      border-radius: 100vw;
      opacity: 20.27%;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      margin-inline: auto;
    }

    &--canada {
      &::before {
        background-image: 
          linear-gradient(
            to top, rgba($gradient-location, 0.01%), rgba($gradient-location, 49.76%)
          );
      }
    }

    &--australia {
      margin-block: 3rem;

      &::before {
        background-image: 
          linear-gradient(
            to left, rgba($gradient-location, 0.01%), rgba($gradient-location, 49.76%)
          );
      }
    }

    &--united-kingdom {
      &::before {
        background-image: 
          linear-gradient(
            to bottom, rgba($gradient-location, 0.01%), rgba($gradient-location, 49.76%)
          );
      }
    }
  }

  &__icon {
    position: relative;
    z-index: 2;
    margin-bottom: 3rem;
  }

  &__heading {
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-size: 1.25rem;
    line-height: 1.625rem;
    letter-spacing: 5px;
    color: #333136;
  }

  @media(min-width: 768px) {
    &__wrapper--australia {
      margin-block: 5rem
    }
  }
}

// Section map
.map {
  display: flex;
  flex-direction: column;

  &--australia {
    margin-block: 2.5rem;
  }

  &__context {
    background-image: url(./assets/shared/desktop/bg-pattern-three-circles.svg);
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 0;
    color: $dark-grey;
    background-color: #FDF3F0;
    padding: 5rem 0;
  }

  &__heading {
    color: $peach;
    font-size: 2rem;
    line-height: 2.25rem;
    margin-bottom: 1.5rem;
  }

  &__text {
    font-style: normal;

    &:nth-of-type(1) {
      margin-bottom: 1.5rem;
    }
  }

  @media(min-width: 768px) {
    &--australia {
      margin-block: 7.5rem;
    }

    &__context {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, auto);
      background-position: 0 100%;
      text-align: left;
      border-radius: 0.9375rem;
      padding: 5.5rem 0 5.5rem 4.6875rem;
    }

    &__heading {
      grid-column: 1/-1;
      grid-row: 1;
      font-size: 2.5rem;
      line-height: 3rem;
    }

    &__text:nth-of-type(1) {
      margin-bottom: 0; 
    }
  }
}

/*****************************************
  FOOTER
*****************************************/
// Temporary footer styles
.footer {
  padding: 15.8125rem 0 4rem;

  &--secondary {
    padding: 4rem 0;
  }

  &,
  &--secondary {
    background-color: $black;
    color: $white;
    text-align: center;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;

    &--icons {
      height: 1.5rem;
      order: 5;
    }

    .logo {
      margin-bottom: 2rem;
      order: 1;
  
      &__icon {
        height: 1.6875rem;
        width: 202px;
      }
    }

    &::before {
      content: '';
      display: block;
      height: 1px;
      width: 100%;
      background-color: rgba($white, 10%);
      order: 2;
    }
  }

  &__list {
    list-style: none;
    margin-bottom: 2.5rem;
    order: 3;
  }

  &__item {
    margin-top: 2rem;
  }

  &__link {
    font-size: 0.875rem;
    line-height: 0.875rem;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  &__address {
    order: 4;
    color: rgba($white, 50%);
    font-size: 1rem;
    line-height: 1.625rem;
    font-style: normal;
    margin-bottom: 2.5rem;
  }

  &__icon {
    margin-right: 1rem;

    &:last-of-type {
      margin-right: 0;
    }

    &:hover,
    &:focus {
      .footer__icon-fill {
        fill: $light-peach;
      }
    }
  }

  @media(min-width: 768px) {
    padding: 10.375rem 0 5rem;

    &--secondary {
      padding: 5rem 0;
    }

    &,
    &--secondary {
      text-align: left;
    }

    &__wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, auto);

      &--icons {
        justify-self: flex-end;
        align-self: flex-end;
        grid-column: 3;
        grid-row: 3;
      }

      .logo {
        grid-column: 1;
        grid-row: 1;
        margin-bottom: 2.5rem;
      }

      &::before {
        grid-column: 1/-1;
        grid-row: 2;
        margin-bottom: 2rem;
      }
    }

    &__list {
      grid-column: 2/-1;
      grid-row: 1;
      display: flex;
      margin-bottom: 0;
      justify-self: flex-end;
    }

    &__item {
      margin-top: 0;

      &:nth-of-type(2) {
        margin: 0 2.625rem;
      }
    }

    &__address {
      grid-column: 1;
      grid-row: 3;
      margin-bottom: 0;

      &:nth-of-type(2) {
        grid-column: 2;
      }
    }
  }
}

/*****************************************
  BUTTONS
*****************************************/
.btn {
  text-transform: uppercase;
  font-size: 0.9375rem;
  line-height: 21.68px;
  letter-spacing: 1px;
  border-radius: 0.5rem;

  &:hover,
  &:focus {
    cursor: pointer;
  }

  &--hamburger {
    height: 1rem;
    width: 1.25rem;
    position: relative;

    &:hover,
    &:focus {
      .hamburger {
        background-color: $peach;
      }
    }
  }

  &--hero,
  &--your-project,
  &--submit {
    color: $dark-grey;
    background-color: $white;
    
    &:hover,
    &:focus {
      color: $white;
      background-color: $light-peach;
    }
  }

  &--hero {
    padding: 1.125rem 1.5625rem 1rem 1.5rem;
  }

  &--your-project {
    padding: 1.0625rem 1.1875rem 1.0625rem 1.125rem;
  }

  &--location {
    background-color: $peach;
    color: $white;
    padding: 1.125rem 1.15625rem 1rem 1.15625rem;

    &:hover,
    &:focus {
      background-color: $light-peach;
    }
  }

  &--submit {
    width: min(100%, 152px);
    margin-inline: auto;
    text-align: center;
    padding: 1.125rem 0 1rem;
  }

  @media(min-width: 768px) {
    &--hamburger {
      display: none;
    }

    &--submit {
      margin-inline: unset;
      margin-left: auto;
    }
  }
}

/*****************************************
    IMAGES
*****************************************/
.image {
  max-width: 100%;
  object-fit: cover;
  vertical-align: middle;
  
  &--hero {
    max-width: 80%;
    position: absolute;
    bottom: -200px;
    left: 0;
    right: 0;
    margin-inline: auto;
  }

  &--projects {
    height: 100%;
    border-top-left-radius: 0.9375rem;
    border-top-right-radius: 0.9375rem;
  }

  &--about {
    width: 100%;
    height: 320px;
    object-position: top;
  }

  &--map {
    width: 100%;
    height: 320px;
  }

  @media(min-width: 768px) {
    &--projects {
      width: 339px;
      border-bottom-left-radius: 0.9375rem;
      border-top-right-radius: unset;
    }

    &--about {
      border-top-right-radius: 0.9375rem;
      border-top-left-radius: 0.9375rem;
    }

    &--map {
      height: 326px;
      border-radius: 0.9375rem;
      margin-bottom: 1.5rem;
    }
  }

  @media(min-width: 1440px) {
    &--hero {
      position: absolute;
      bottom: -72px;
      left: unset;
      right: 96px;
      margin-inline: unset;
    }

    &--about {
      &-banner {
      height: 100%;
      border-bottom-right-radius: 0.9375rem;
      border-top-left-radius: unset;
      }
      

      &-world {
        height: 640px;
        border-top-right-radius: unset;
        border-bottom-left-radius: 0.9375rem;
      }

      &-real {
        height: 640px;
        border-top-left-radius: unset;
        border-bottom-right-radius: 0.9375rem;
      }
    }
  }
} 

/**********************************
  ANIMATIONS
**********************************/
@keyframes slide-in {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100vw);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fade-out {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

.slide-in {
  animation: slide-in 400ms forwards;
}

.slide-out {
  animation: slide-out 400ms forwards;
}

.fade-in {
  animation: fade-in 400ms forwards;
}

.fade-out {
  animation: fade-out 400ms forwards;
}
